<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title ?: 'Default Title'}">Title</title>
    </head>
    <body>
        <div>
			<img th:src="@{|/photos/${staff.getPhoto()}|}" 
			     alt="Photo of staff member" style="width: 50px;">

            Email: <b th:text="${staff.id ?: 'N/A'}"></b><hr>
            Họ và tên: <b th:text="${staff.getFullname() != null ? #strings.capitalizeWords(staff.getFullname()) : 'N/A'}"></b><hr>
            Giới tính: <b th:text="${staff.isGender() != null ? (staff.isGender() ? 'Nam' : 'Nữ') : 'Chưa xác định'}"></b><hr>
            Ngày sinh: <b th:text="${staff.getBirthday() != null ? #temporals.format(staff.getBirthday(), 'dd-MM-yyyy') : 'N/A'}"></b><hr> 
			Tuổi: <b th:text="${ staff.getAge() }"></b><hr>
            Cấp bậc:
            <th:block th:switch="${staff.getLevel()}">
                <b th:case="0">Úy</b>
                <b th:case="1">Tá</b>
                <b th:case="2">Tướng</b>
                <b th:case="*">Chưa có</b>
            </th:block><hr>
            Salary: $<b th:text="${staff.getSalary() != null ? #numbers.formatDecimal(staff.getSalary(), 0, 'COMMA', 2, 'POINT') : '0.00'}"></b><hr>
        </div>
    </body>
</html>
